@keyframes move {
    0% {right: -100%;}
    100% {right: 100%;}
}

@keyframes jump {
    0% {bottom: 90px; background-image: url("graphics/other hand frames/jump.png"); background-size: cover;}
    10% {bottom: 370px; background-image: url("graphics/other hand frames/jump.png"); background-size: cover;}
    50% {bottom: 380px; background-image: url("graphics/other hand frames/jump.png"); background-size: cover;}
    90% {bottom: 200px; background-image: url("graphics/other hand frames/jump.png"); background-size: cover;}
    100% {bottom: 90px; background-image: url("graphics/other hand frames/jump.png"); background-size: cover;}

}

@keyframes sprint {
    0% {background-image:url("graphics/run frames/run1.png"); background-size: cover;} /*frame 1*/
    9% {background-image:url("graphics/run frames/run2.png"); background-size: cover;} /*frame 2*/
    18% {background-image:url("graphics/run frames/run3.png"); background-size: cover;} /*frame 3*/
    27% {background-image:url("graphics/run frames/run4.png"); background-size: cover;} /*frame 4*/
    36% {background-image:url("graphics/run frames/run5.png"); background-size: cover;} /*frame 5*/
    45% {background-image:url("graphics/run frames/run6.png"); background-size: cover;} /*frame 6*/
    54% {background-image:url("graphics/run frames/run7.png"); background-size: cover;} /*frame 7*/
    63% {background-image:url("graphics/run frames/run8.png"); background-size: cover;} /*frame 8*/
    72% {background-image:url("graphics/run frames/run9.png"); background-size: cover;} /*frame 9*/
    81% {background-image:url("graphics/run frames/run10.png"); background-size: cover;} /*frame 10*/
    90% {background-image:url("graphics/run frames/run11.png"); background-size: cover;} /*frame 11*/
    100% {background-image:url("graphics/run frames/run11.png"); background-size: cover;}
}

@keyframes slide {
    0% {height: 50px;
        background-image:url("graphics/other hand frames/crouch.png");
        background-size:contain;
        background-repeat: no-repeat;}
    /* 50% {width: 200px;
        height: 100px;
        background-image:url("graphics/other hand frames/punch.png");
        background-size:contain;
        background-repeat: no-repeat;} */
    99% {height: 50px;
        background-image:url("graphics/other hand frames/crouch.png");
        background-size:contain;
        background-repeat: no-repeat;}
    100% {
        height: 100px;
        background-image:url("graphics/other hand frames/crouch.png");
        background-size:contain;
        background-repeat: no-repeat;}
}

@keyframes punch {
    0% {right: 50%;
        width: 300px;
        height: 200px;
        background-image:url("graphics/other hand frames/punch.png");
        background-size:contain;
        background-repeat: no-repeat;}
    15% {right: 40%;
        width: 300px;
        height: 200px;
        background-image:url("graphics/other hand frames/punch.png");
        background-size:contain;
        background-repeat: no-repeat;}
    100% {right: 50%;
        width: 300px;
        height: 200px;
        background-image:url("graphics/other hand frames/punch.png");
        background-size:contain;
        background-repeat: no-repeat;}
}

@keyframes death{
    0% {left: 0%;
        width: 300px;
        height: 200px;
        background-image:url("graphics/other hand frames/hurt.png");
        background-size:contain;
        background-repeat: no-repeat;}
    100% {left: -200%;
        width: 300px;
        height: 200px;
        background-image:url("graphics/other hand frames/hurt.png");
        background-size:contain;
        background-repeat: no-repeat;}
}
