.car2 {
    background-image: url("graphics/car.png");
    background-size: cover;
    background-color: black;
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 100px;
    bottom: 90px;
    animation: 2s linear move;
    z-index: -1;
}
