.car {
    background-image: url("graphics/truck.png");
    background-size: cover;
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    bottom: 90px;
    animation: 2s linear move;
}
